<!doctype html>
<html lang="en">

<head>

    <script type="text/javascript" charset="utf-8">
        //funcion para agregar generar el chat
        (function(g, e, n, es, ys) {
            g['_genesysJs'] = e;
            g[e] = g[e] || function() {
                (g[e].q = g[e].q || []).push(arguments)
            };
            g[e].t = 1 * new Date();
            g[e].c = es;
            ys = document.createElement('script');
            ys.async = 1;
            ys.src = n;
            ys.charset = 'utf-8';
            //environment: 'use1',
            //deploymentId: '36c8f98c-a138-4450-8672-809a9f196137'
            //Deployment ID Zona Publica: ad09fab3-4e4f-4e76-bdc8-b018b57cb1e0
            //4826e24f-58e6-4c7f-935d-fae4af49377a
            //Deployment ID Zona Privada: 36c8f98c-a138-4450-8672-809a9f196137
            //leonel bf6fa774-e669-424d-9c20-f4478b3a5646
            //Deployment_Messenger_ZonaPrivada_WEB_LAB: 4826e24f-58e6-4c7f-935d-fae4af49377a
            //Deployment_Messenger_ZonaPublica_WEB_LAB: a853540a-3a48-4e73-93b1-5d49711dc5ba
            //68240440-dd57-4e69-af59-254f9a2c1370
            document.head.appendChild(ys);
        })(window, 'Genesys', 'https://apps.mypurecloud.com/genesys-bootstrap/genesys.min.js', {
            environment: 'use1',

            deploymentId: '4826e24f-58e6-4c7f-935d-fae4af49377a'
        });
        //la vatiable deploymentId se usa para identificarnos ante genesys. Esta debe ser diferente en zona privada y zona publica y tambien cambia
        //por ambiente

        //fin de la funcion para generar el chat
        //
        Genesys("subscribe", "Launcher.ready", function(o) { //
            var boton = document.getElementById("toggle");
            boton.className = "toggleVisible";
        });

        Genesys("subscribe", "Conversations.started", function(o) {
            console.log("******* Conversations.started*******");
            enviarAParent("Conversations.started");
        });

        Genesys("subscribe", "Conversations.messageAdded", function(o) {
            console.log("*******Conversations.messageAdded*******");
            enviarAParent("Conversations.messageAdded");
           // enviarP();
            console.log(o);
        });
        Genesys("subscribe", "MessagingService.messagesReceived", function(o) { //Se ejecuta cada vez que hay un cambio dentro del campo de escritura 
            console.log("*******MessagingService.messagesReceived*******");
            enviarAParent("MessagingService.messagesReceived");
            console.log(o);
            console.log(o.data.messages[0].text);
            const mensaje = o.data.messages[0].text;
            const direction = o.data.messages[0].direction;
            if (direction.toLowerCase() == "inbound" )  {
              Genesys("command", "Database.set", {
                        messaging : {
                          customAttributes: {
                            "nid"     : "40840",
                            "tid"    :  "01"
                          }
                        }
                      });
                console.log("*******MessagingService.messagesReceived  se asignan custom Attr  con Database.set  *******");
            }
            //enviarP();
        });
        Genesys("subscribe", "Conversations.opened", function(o) { //Se ejecuta cada vez que hay un cambio dentro del campo de escritura 
            console.log("*******open chat *******");
            enviarAParent("MessagingService.messagesReceived");
        });

        Genesys("subscribe", "Auth.authenticating", function(o) {
            console.log("*******Auth.authenticating *******");
        });
        Genesys("subscribe", "Auth.loggedOut", function(o) {
            console.log("*******Auth.authenticating *******");
        });
        Genesys("subscribe", "Auth.Auth.authenticated", function(o) {
            console.log("*******Auth.authenticating *******");
        });
        Genesys("subscribe", "Conversations.closed", function(o) {
            console.log("*******close chat *******");
        });
        Genesys("subscribe", "Database.updated", function(o){
            console.log("******* updated *******");
        });
        Genesys("subscribe", "Database.removed", function(o){
            console.log("******* removed *******");
        });
        function ToggleWidget() {

            var boton = document.getElementById("toggle");
            if (boton.innerHTML == "Mostrar Chat") {
                Genesys("command", "Messenger.open", {},
                    function(o) {},
                );
                boton.innerHTML = "Ocultar Chat";


            } else {
                Genesys("command", "Messenger.close", {},
                    function(o) {},
                );
                boton.innerHTML = "Mostrar Chat";

            }

        }

        function enviarAParent(msgEnviar) {

            //var domain = 'file://';
            var domain = 'https://richardsuan.github.io/prueba_dav/template/chat3.html';
            const messageObj = {
                message: msgEnviar
            };
            const stringifiedMessageObj = JSON.stringify(messageObj);
            parent.postMessage(stringifiedMessageObj, domain);
            console.log('evento enviado al contenedor');

        }

        window.addEventListener("message", (event) => {
            //console.log(event);
            //console.log(event.data);
            if (typeof event.data === 'string') {
                if (event.data == "alertaInactividad") {
                    console.log("----- recibido mensaje del contenedor ----");
                    alertaInactividad();
                }
            }

        });

        function alertaInactividad() {
            var notificaciones = document.getElementById("notificaciones");
            notificaciones.innerHTML = "**** Alerta por inactividad ****";
            setTimeout(function() {
                notificaciones.innerHTML = "-";
            }, 5000);
        }

        document.addEventListener('readystatechange', event => {
            // When HTML/DOM elements are ready:
            if (event.target.readyState === "interactive") {
                //alert("hi 1");
                console.log("--- readystatechange --- ");
                console.log(window.location);
                console.log(window.parent.location);
                enviarAParent("pagina cargada");
            }
            // When window loaded ( external resources are loaded too- `css`,`src`, etc...)
            if (event.target.readyState === "complete") {
                //alert("hi 2");
            }
        });

        let T_id = "01"; //
        let N_id = "1234"; //Estas variables deben ser llenadas 
        console.log(T_id + "     " + N_id);
        Genesys("command", "Database.set", {
            messaging: {
                customAttributes: {
                    "tid": T_id,
                    "nid": N_id
                }
            }
        });

        function ConsultarDb(){
        console.log("+++++++++++++++++++++++++++++++++++++++++++++++++++");
         console.log(Genesys("command", "Database.get", { "name": "tid" }));
         console.log(Genesys("command", "Database.get", { name: "tid" }));
         console.log(Genesys("command", "Database.get", { key: "tid" }));
         console.log("+++++++++++++++++++++++++++++++++++++++++++++++++++");
         console.log(Genesys("command", "Database.get", { "messaging.customAttributes": "tid" }));
         console.log("+++++++++++++++++++++++++++++++++++++++++++++++++++");
         console.log(Genesys("command", "Database.get", { "name": "messaging.customAttributes" }));
         console.log("+++++++++++++++++++++++++++++++++++++++++++++++++++");
         console.log(Genesys("command", "Database.get", { name: "messaging.customAttributes" }));
         console.log("+++++++++++++++++++++++++++++++++++++++++++++++++++");
         console.log(Genesys("command", "Database.get", { tid: "messaging.customAttributes" }));
         console.log("+++++++++++++++++++++++++++++++++++++++++++++++++++");
         console.log(Genesys("command", "Database.get", { name: "messaging.customAttributes.tid" }));
         console.log("+++++++++++++++++++++++++++++++++++++++++++++++++++");
         console.log(Genesys("command", "Database.get", { messaging: "customAttributes.tid" }));
         console.log("+++++++++++++++++++++++++++++++++++++++++++++++++++");
         console.log(Genesys("command", "Database.get", { messaging: "customAttributes" }));
        }
        function enviarP() { // esta funcion se usa para enviar los datos 
            console.log("-- se enviaron los datos---");
            Genesys("command", "Messenger.open", {}, function(o) {}, );
            let T_id = "01"; //
            let N_id = "1234"; //Estas variables deben ser llenadas 
            console.log(T_id + "     " + N_id);
            Genesys("command", "Database.set", {
                messaging: {
                    customAttributes: {
                        "tid": T_id,
                        "nid": N_id
                    }
                }
            });




        }
    </script>

    <style>
        .toggleOculto {
            display: none;
        }
        
        .toggleVisible {
            display: block;
        }
        
        .div1 {
            padding-top: 1%;
            padding-bottom: 1%;
            padding-left: 1%;
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Davivienda</title>
</head>

<body>


    <div class="div1">
        <button id="toggle" class="toggleOculto" onclick="ToggleWidget()">Mostrar Chat</button>
        <button onclick="ConsultarDb()">Consultar base de datos</button>
    </div>
    <div class="div1">
        <label id="notificaciones"></label>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

</html>