<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    <title>davivienda</title>
    <script>
        (function(g, e, n, es, ys) {

            g['_genesysJs'] = e;

            g[e] = g[e] || function() {

                (g[e].q = g[e].q || []).push(arguments)

            };

            g[e].t = 1 * new Date();

            g[e].c = es;

            ys = document.createElement('script');
            ys.async = 1;
            ys.src = n;
            ys.charset = 'utf-8';
            document.head.appendChild(ys);

        })(window, 'Genesys', 'https://apps.mypurecloud.com/genesys-bootstrap/genesys.min.js', {
             environment: 'use1',

             deploymentId: 'bf6fa774-e669-424d-9c20-f4478b3a5646'
        });

        function toggleMessenger() {
            console.log("hola");
            Genesys("command", "Messenger.open", {},
                function(o) {}, // if resolved
                function(o) { // if rejected
                    Genesys("command", "Messenger.close");
                }
            );
        }
    </script>

    <script src="https://cobrowse.mypurecloud.com/cobrowse-jsapi-v1.js?deploymentKey=1ejSGxMWxyozKnj94WVSnAmqXRpHDilg" type="text/javascript"></script>
</head>

<body>
    <header>

        <div class="titulo">
            <h1>Chat </h1>
            <div class="logo">
                <img src="../logo.png" alt="Logo davivienda">

            </div>
        </div>

        <nav class="navegacion">
            <ul>
                <a href="../index.html">Co browse-Inicio</a>
                <a href="./cuenta.html">Cuenta</a>
                <a href="./chat.html">Chat</a>
                <a href="./PruebaConFormularioTodosLosCampos.html">Chat2</a>
                <a href="./chat3.html">Chat3</a>
                <a href="./contenido.html">Contenido</a>

            </ul>
        </nav>

    </header>
    <div class="container_button">
        <button onclick="toggleMessenger()">Desplegar Chat</button>
    </div>




</body>

</html>
