<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    <title>davivienda</title>

    <link rel="shortcut icon" href="../índice.ico">
    <script src="https://cobrowse.mypurecloud.com/cobrowse-jsapi-v1.js?deploymentKey=1ejSGxMWxyozKnj94WVSnAmqXRpHDilg" type="text/javascript"></script>
</head>

<body>
    <header>

        <div class="titulo">
            <h1>Chat </h1>
            <div class="logo">
                <img src="../logo.png" alt="Logo davivienda">

            </div>
        </div>

        <nav class="navegacion">
            <ul>
                 <a href="../index.html">Co browse-Inicio</a>
                <a href="./cuenta.html">Cuenta</a>
                <a href="./chat.html">Chat Z Publica</a>
                <a href="./chat3.html">Chat Z Privada</a>
                <a href="./contenido.html">Contenido</a>


            </ul>
        </nav>

    </header>
    <h2>hola </h2>
      <div id="deviceready" class="blink">
        <p class="event listening">Connecting to Device</p>
        <p class="event received">Device is Ready</p>
    </div>
  <div class="container1">
    <div>Actividad detectada en iframe a las <label id="hour">-</label>:<label id="minutes">-</label>:<label id="seconds">-</label></div>
  </div>
  <div class="container1">
  <div><label id="tinactivo">-</label></div>
  </div>
    <br>
    <br>
    <br>


    <br>
    <p>IFRAME</p>
    <iframe id='frameDemo' height=600 width=450></iframe>

    <button onclick="abrir()">Abrir</button>
    <button onclick="document.getElementById('frameDemo').contentWindow.location.reload()">reload</button>

    <br>
    <br>

    <script type="text/javascript" charset="utf-8">
        // En la siguiente variable se debe poner el link donde esta el frame con el chat de genesys
        const iframeSrc = "https://ludysmoreno17.github.io/HIC_Genesys/template/chatFrame.html";
        var contenedor = "iframe";
        var hourLabel = document.getElementById("hour");//Estas variables  no son necesarias
        var minutesLabel = document.getElementById("minutes");
        var secondsLabel = document.getElementById("seconds");


        var lastMsgDate = new Date();
        lastMsgDate.setDate(lastMsgDate.getDate() + 1);
        console.log(lastMsgDate.getDate()+"hola" );

        function abrir(){
          document.getElementById('frameDemo').contentWindow.ToggleWidget();
        }
        function messageCallBack(params) {
            //console.log(" ---------------mensaje-----------------");
            //console.log(params);

            let currentdate = new Date();
            lastMsgDate = currentdate;

            hourLabel.innerHTML = pad(currentdate.getHours());
            minutesLabel.innerHTML = pad(currentdate.getMinutes());
            secondsLabel.innerHTML = pad(currentdate.getSeconds());
        }


        function setTime() {
            let currentdate = new Date();
            let ElapsedTime = currentdate - lastMsgDate;
            if (ElapsedTime / 1000 > 30) // mas de 30 segundos de inactividad
            {
                //console.log("------- setTime :: enviando notifiacion por inactividad ------");
                lastMsgDate.setDate(lastMsgDate.getDate() + 1);
                var ifrm = document.getElementById("frameDemo");
                ifrm.contentWindow.postMessage('alertaInactividad', '*');
            }
            let tinactivo = document.getElementById("tinactivo");
            let segundos = Math.trunc(ElapsedTime / 1000);
            tinactivo.innerHTML = segundos >= 0 ? segundos : 0;
        }

        function pad(val) {//esta funcion se usa para agregar un cero al lado del time no es necesaria

            var valString = val + "";
            if (valString.length < 2) {
                return "0" + valString;
            } else {
                return valString;
            }
        }

        document.addEventListener('readystatechange', event => {
            // When HTML/DOM elements are ready:
            if (event.target.readyState === "interactive") {
                document.getElementById('frameDemo').src = iframeSrc;
                setInterval(setTime, 500);
            }
        });

        //-----------------------  eventos con  addEventListener
        window.addEventListener("message", (event) => {
            //console.log("-----  envento recibo del child ----");
            messageCallBack(event.data);
        }, false);
        document.addEventListener('deviceready', onDeviceReady, false);



    </script>




</body>
</html>
