<!doctype html>
<html lang="en">

<head>
    <!--Codigo javascript para la implementacion del chat web mensanger de genesys -->
    <script type="text/javascript" charset="utf-8">
    /*inicio
    paso de parametros de webmessanger 
    Las variables que se encueentran a continuacion  se usan para el paso de parametros de web messanger 
     ya que en estas se va a almacenar el origen de los mensajes si son hechos por el bot "Bot" del banco o por un asesor.
    "Human". 
    */
    const OriginatingEntity = Object.freeze({
      Human: "Human",
      Bot: "Bot",
    });
    var current_OriginatingEntity = "";
    /*fin 
    Esto para una interaccion en donde el cliente usa el chat de zona privada este chat va y consulta los datos del cliente 
    para que en el momento de ser atendido por un asesor tenga los datos para despues de colgar la interaccion y pasdo un minuto
    se vuelva a iniciar la conversacion y poder enviar los parametros para hacer de nuevo la consulta 
    */
    
    //funcion para generar el chat cuando se pulsa el boton de iniciar wiget escogido.
    function genesysWidget() {
          Window.Genesys = null;
          var gdeploymentId;
          gdeploymentId = document.getElementById("CBoxdeploymentId").value;// de aqui se optiene el valor del deployment id escogido por el usuario en el selector
          console.log(gdeploymentId);
          window.alert(gdeploymentId);// con esto se muestra un mensaje que nos indica cual es el deployment id usado
          (function(g, e, n, es, ys) {
              g['_genesysJs'] = e;
              g[e] = g[e] || function() {
                  (g[e].q = g[e].q || []).push(arguments)
              };
              g[e].t = 1 * new Date();
              g[e].c = es;
              ys = document.createElement('script');
              ys.async = 1;
              ys.src = n;
              ys.charset = 'utf-8';


              //environment: 'use1',
              //deploymentId: '36c8f98c-a138-4450-8672-809a9f196137'
              //Deployment ID Zona Publica: ad09fab3-4e4f-4e76-bdc8-b018b57cb1e0
              //4826e24f-58e6-4c7f-935d-fae4af49377a
              //Deployment ID Zona Privada: 36c8f98c-a138-4450-8672-809a9f196137
              //leonel bf6fa774-e669-424d-9c20-f4478b3a5646
              //Deployment_Messenger_ZonaPrivada_WEB_LAB: 4826e24f-58e6-4c7f-935d-fae4af49377a
              //Deployment_Messenger_ZonaPublica_WEB_LAB: a853540a-3a48-4e73-93b1-5d49711dc5ba
              //68240440-dd57-4e69-af59-254f9a2c1370
              //app
              //Interna: 575de9e8-470d-4eca-b816-ffcd71e18191
               //Externa: eca6822c-3d4b-4743-b95b-9750d2905991
              
              document.head.appendChild(ys);
          })(window, 'Genesys', 'https://apps.mypurecloud.com/genesys-bootstrap/genesys.min.js', {
              environment: 'use1',

              deploymentId: gdeploymentId
          });//aqui se asigna el deployment id seleccionado y se crea el webmesanger 
        }
        //la variable deploymentId se usa para identificarnos ante genesys. Esta debe ser diferente en zona privada y zona publica y tambien cambia
        //por ambiente

        //fin de la funcion para generar el chat
        //
        var intervalID;
        window.onload = function () {// esta funcion se usa para que no se abra el chat solo 
          localStorage.setItem(
            "_68240440-dd57-4e69-af59-254f9a2c1370:gcmcopn",
            '{"value":"false","ttl":null}'
          );//esta funcion se usa para no abrir el chat de manera automatica
          intervalID = setInterval(Eventos, 500);//esta funcion se usa para ejecutar las suscripciones 
          
        };
        function Eventos() {// esta funcion se usa para ejecutar las sucripciones a los diferentes eventos que hay
          console.log("==== Eventos  :: inicio");
          if (typeof Genesys == "undefined") {
            //console.log("==== Eventos  :: aun lo existe objeto Genesys");
            return;
          }
          Genesys("subscribe", "Launcher.ready", function(o) { // este evento se ejecuta cuando esta listo el chat para ejecutar
              var boton = document.getElementById("toggle");
              boton.className = "toggleVisible";
          });

          Genesys("subscribe", "Conversations.started", function(o) {//se ejecuta unicamente al primer mensaje
              //console.log("******* Conversations.started*******");
              enviarAParent("Conversations.started");
              AsignarAtributos();

          });
          Genesys("subscribe", "Conversations.ready", function () {//se ejecuta cuando el chat esta listo para conversar con el cliente 
           console.log("*******Conversations.ready*******");
           AsignarAtributos();
         });
          Genesys("subscribe", "Conversations.messageAdded", function(o) {//se ejecuta cuando el cliente está escribiendo en el campo del chat
              console.log("*******Conversations.messageAdded*******");
              enviarAParent("Conversations.messageAdded");
             
              console.log(o);
          });


          Genesys("subscribe", "Conversations.opened", function(o) { //Se ejecuta cada vez que se abre el chat
              //console.log("*******open chat *******");
              enviarAParent("MessagingService.messagesReceived");
          });
          /*Codigo para realizar la funcion de paso de parametros -inicio***************/
          Genesys("subscribe", "MessagingService.messagesReceived", function(o) { //Se ejecuta cada vez que hay un mensaje 

              console.log("*******MessagingService.messagesReceived*******");
              enviarAParent("MessagingService.messagesReceived");
              //console.log("*******MessagingService.messagesReceived Inicio*******");
              
              const mensaje = o.data.messages[0].text;
              const direction = o.data.messages[0].direction;
              console.log("direction::%s", direction);
              console.log(o);

              if (direction == "Outbound") {
                const mensaje_OriginatingEntity = o.data.messages[0].originatingEntity;
                console.log("mensaje_OriginatingEntity :: %s", mensaje_OriginatingEntity);

                if (mensaje_OriginatingEntity != current_OriginatingEntity) {
                  // cada vez que se cambie lo asignamos con el actual OriginatingEntity
                  current_OriginatingEntity = mensaje_OriginatingEntity;

                  if (current_OriginatingEntity == OriginatingEntity.Bot) {
                    //   Solo lo asignamos cuando inciamos la interaccion con el bot
                    AsignarAtributos();
                  }
                }
              }
              
          });
        }
        function AsignarAtributos() {
          console.log("@@@@@@@@@@@@@@@@@@@  ASIGNANDO ATRIBUTOS @@@@@@@@@@@@@@@@@");

          Genesys("command", "Database.set", {
              messaging: {
                  customAttributes: {
                      "tid": "01",
                      "nid": "1234"
                  }
              }
          });
        }
        //fin**************************************** 
        function ToggleWidget() {//se usa para abrir o cerrar el chat

            var boton = document.getElementById("toggle");
            if (boton.innerHTML == "Mostrar Chat") {
                Genesys("command", "Messenger.open", {},
                    function(o) {},
                );
                boton.innerHTML = "Ocultar Chat";


            } else {
                Genesys("command", "Messenger.close", {},
                    function(o) {},
                );
                boton.innerHTML = "Mostrar Chat";

            }

        }

        function enviarAParent(msgEnviar) {//se usa para enviar los postmessage a la pagina padre

            //var domain = 'file://';
            var domain = 'https://richardsuan.github.io/prueba_dav/template/chat3.html';
            const messageObj = {
                message: msgEnviar
            };
            const stringifiedMessageObj = JSON.stringify(messageObj);
            parent.postMessage(stringifiedMessageObj, domain);
            console.log('evento enviado al contenedor');

        }

        window.addEventListener("message", (event) => {
            
            if (typeof event.data === 'string') {
                if (event.data == "alertaInactividad") {
                    console.log("----- recibido mensaje del contenedor ----");
                    alertaInactividad();
                }
            }

        });

        function alertaInactividad() {
            var notificaciones = document.getElementById("notificaciones");
            notificaciones.innerHTML = "**** Alerta por inactividad ****";
            setTimeout(function() {
                notificaciones.innerHTML = "-";
            }, 5000);
        }

        document.addEventListener('readystatechange', event => {
            // When HTML/DOM elements are ready:
            if (event.target.readyState === "interactive") {
                //alert("hi 1");
                console.log("--- readystatechange --- ");
                console.log(window.location);
                console.log(window.parent.location);
                enviarAParent("pagina cargada");
            }
            // When window loaded ( external resources are loaded too- `css`,`src`, etc...)
            if (event.target.readyState === "complete") {
                //alert("hi 2");
            }
        });

       
        function BntInciarChat() {
          console.log("-- BntInciarChat :: Inicio ---");
          if (!ConversationOpened) {
            Genesys("command", "Messenger.open", {}, function (o) {});
          }

          let boton = document.getElementById("toggle");
          boton.innerHTML = "Ocultar Chat";
          console.log("-- BntInciarChat :: Fin ---");
        }

    </script>

  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Davivienda</title>
</head>

<body>

  <div class="divFrm">
    <div class="divField">

      <label for="CBoxdeploymentId">Escoger deployment:</label>
        <select name="CBoxdeploymentId" id="CBoxdeploymentId">
          <option value="575de9e8-470d-4eca-b816-ffcd71e18191">App Interna</option>
          <option value="eca6822c-3d4b-4743-b95b-9750d2905991" >App Externa</option>
          <option value="4826e24f-58e6-4c7f-935d-fae4af49377a">LAB zona privada</option>
          <option value="a853540a-3a48-4e73-93b1-5d49711dc5ba">LAB zona publica</option>
        </select>

    </div>
  </div>
<div class="divField">
    <button id="btngenesysWidget"  onclick="genesysWidget();">Iniciar Widget escogido</button>
</div>
<div class="divField">
  <button id="btnIniciarChat" class="oculto" onclick="BntInciarChat();">Iniciar Chat</button>
</div>

</div>

    <div class="div1">



        <button id="toggle" class="toggleOculto" onclick="ToggleWidget()">Mostrar Chat</button>

    </div>
    <div class="div1">
        <label id="notificaciones"></label>
    </div>
    

</body>

</html>
