<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/style.css" rel="stylesheet" type="text/css"/>
    <title>davivienda</title>

</head>

<style>

html, body { height: 100%; margin: 0; }
.chat-frame
{
    height: 1000px;
    width: 1000px;
    margin: 0 auto;
}

.header{
    height: 30%;
    width: 100%;
}

iframe {
    display: block;
    border-style:none;
}

</style>
<body>
    <header class="header">

        <div class="titulo">
            <h1>Chat </h1>
            <div class="logo">
                <img src="../logo.png" alt="Logo davivienda" >

            </div>
        </div>

        <nav class="navegacion">
            <ul>
                <a href="../index.html">Co browse-Inicio</a>
                <a href="./cuenta.html">Cuenta</a>
                <a href="./chat.html">Chat</a>
                <a href="./PruebaConFormularioTodosLosCampos.html">Chat2</a>
                <a href="./chat3.html">Chat3</a>
                <a href="./contenido.html">Contenido</a>

            </ul>
        </nav>

    </header>
    <iframe src="./chatFrame.html" class="chat-frame"></iframe>
</body>
</html>
