<!doctype html>
<html lang="en">

<head>

    <script type="text/javascript" charset="utf-8">
        //funcion para agregar generar el chat
        (function(g, e, n, es, ys) {
            g['_genesysJs'] = e;
            g[e] = g[e] || function() {
                (g[e].q = g[e].q || []).push(arguments)
            };
            g[e].t = 1 * new Date();
            g[e].c = es;
            ys = document.createElement('script');
            ys.async = 1;
            ys.src = n;
            ys.charset = 'utf-8';
            //environment: 'use1',
            //deploymentId: '36c8f98c-a138-4450-8672-809a9f196137'
            //Deployment ID Zona Publica: ad09fab3-4e4f-4e76-bdc8-b018b57cb1e0

            //Deployment ID Zona Privada: 36c8f98c-a138-4450-8672-809a9f196137
            //leonel bf6fa774-e669-424d-9c20-f4478b3a5646
            document.head.appendChild(ys);
        })(window, 'Genesys', 'https://apps.mypurecloud.com/genesys-bootstrap/genesys.min.js', {

             environment: 'use1',

             deploymentId: 'ad09fab3-4e4f-4e76-bdc8-b018b57cb1e0'


        });
        //la vatiable deploymentId se usa para identificarnos ante genesys. Esta debe ser diferente en zona privada y zona publica y tambien cambia
        //por ambiente

        //fin de la funcion para generar el chat
        //
        Genesys("subscribe", "Launcher.ready", function(o) {
            var boton = document.getElementById("toggle");
            boton.className = "toggleVisible";
        });

        Genesys("subscribe", "Conversations.started", function(o) {
            console.log("******* Conversations.started*******");
            enviarAParent("Conversations.started");
        });
        Genesys("subscribe", "Conversations.messageAdded", function(o) {
            console.log("*******Conversations.messageAdded*******");
            enviarAParent("Conversations.messageAdded");
            console.log(o);
        });
        Genesys("subscribe", "MessagingService.messagesReceived", function(o) {
            console.log("*******MessagingService.messagesReceived*******");
            enviarAParent("MessagingService.messagesReceived");
        });

        function ToggleWidget() {

            var boton = document.getElementById("toggle");
            if (boton.innerHTML == "Mostrar Chat") {
                Genesys("command", "Messenger.open", {},
                    function(o) {},
                );
                boton.innerHTML = "Ocultar Chat";


            } else {
                Genesys("command", "Messenger.close", {},
                    function(o) {},
                );
                boton.innerHTML = "Mostrar Chat";

            }

        }

        function enviarAParent(msgEnviar) {

            //var domain = 'file://';
            var domain = 'https://richardsuan.github.io/prueba_dav/template/chat3.html';
            const messageObj = {
                message: msgEnviar
            };
            const stringifiedMessageObj = JSON.stringify(messageObj);
            parent.postMessage(stringifiedMessageObj, domain);
            console.log('evento enviado al contenedor');

        }

        window.addEventListener("message", (event) => {
            //console.log(event);
            //console.log(event.data);
            if (typeof event.data === 'string') {
                if (event.data == "alertaInactividad") {
                    console.log("----- recibido mensaje del contenedor ----");
                    alertaInactividad();
                }
            }

        });

        function alertaInactividad() {
            var notificaciones = document.getElementById("notificaciones");
            notificaciones.innerHTML = "**** Alerta por inactividad ****";
            setTimeout(function() {
                notificaciones.innerHTML = "-";
            }, 5000);
        }

        document.addEventListener('readystatechange', event => {
            // When HTML/DOM elements are ready:
            if (event.target.readyState === "interactive") {
                //alert("hi 1");
                console.log("--- readystatechange --- ");
                console.log(window.location);
                console.log(window.parent.location);
                enviarAParent("pagina cargada");
            }
            // When window loaded ( external resources are loaded too- `css`,`src`, etc...)
            if (event.target.readyState === "complete") {
                //alert("hi 2");
            }
        });



     function enviarP(){// esta funcion se usa para enviar los datos 
          console.log ("-- BntInciarChat :: Inicio ---");
          Genesys("command", "Messenger.open", {  },      function(o){},      );
          let T_id ="CC";//
          let N_id = "1234567";//Estas variables deben ser llenadas 
          console.log(T_id + "     " + N_id );
          Genesys("command", "Database.set", {
                    messaging : {
                      customAttributes: {
                        "tid"     : T_id,
                        "nid"    : N_id
                      }
                    }
                  });

            
            

          }
    </script>

    <style>
        .toggleOculto {
            display: none;
        }

        .toggleVisible {
            display: block;
        }

        .div1 {
            padding-top: 1%;
            padding-bottom: 1%;
            padding-left: 1%;
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Davivienda</title>
</head>

<body>


    <div class="div1">
        <button  id="toggle" class="toggleOculto" onclick="ToggleWidget()"   >Mostrar Chat</button>
    </div>
    <div class="div1">
        <label id="notificaciones"></label>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

</html>
