<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    <title>Contenido</title>
    <script src="https://cobrowse.mypurecloud.com/cobrowse-jsapi-v1.js?deploymentKey=1ejSGxMWxyozKnj94WVSnAmqXRpHDilg" type="text/javascript"></script>

    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <script>
    (function(w,t,c,p,s,e){p=new Promise(function(r){w[c]={client:function(){if(!s){
    s=document.createElement(t);s.src='https://js.cobrowse.io/CobrowseIO.js';s.async=1;
    e=document.getElementsByTagName(t)[0];e.parentNode.insertBefore(s,e);s.onload=function()
    {r(w[c]);};}return p;}};});})(window,'script','CobrowseIO');
    CobrowseIO.license = "8tVUclEjaBXUWw";
    //CobrowseIO.license = "hN3jxzqAuYIKrA";
    CobrowseIO.client().then(function(){

      CobrowseIO.trustedOrigins = [
        'https://richardsuan.github.io/prueba_dav/template/contenido.html', // parent origin to trust
        'https://richardsuan.github.io/prueba_dav/index.html', // another parent origin to trust
        https://richardsuan.github.io/prueba_dav/template/Chat.html

      ];

        CobrowseIO.start();
    });
    function CrearCodigo(){
          CobrowseIO.client().then(function() {
          // create a code a display it to the user using your own UI
          CobrowseIO.createSessionCode().then(function(code) {
             console.log('your code is::', code);
             document.getElementById("codigo").innerHTML =code ;

          });

      });
    }
    // A generic consent dialog class
function Consent() {
  var container = document.createElement('div');
  function content(title, description){
    return '\
      <div style="background: rgba(50, 50, 50, 0.4); position: fixed; z-index: 2147483647; bottom: 0; top: 0; left: 0; right: 0">\
        <div style="color: #333; font-family:sans-serif; line-height:140%; position:fixed; padding:25px; background:white; border-radius:15px; z-index:2147483647; top:50px; left:50%; width:75%; max-width:350px; transform:translateX(-50%); box-shadow:0px 0px 15px #33333322;">\
          <div style="text-align:center; margin-top:10px; margin-bottom:20px"><b>'+title+'</b></div>\
          <div>'+description+'</div>\
          <div style="float:right; margin-top:40px; color:rgb(0, 122, 255);">\
            <a class="cobrowse-deny" style="cursor:pointer; padding:10px;">Deny</a>\
            <a class="cobrowse-allow" style="cursor:pointer; padding:10px; font-weight: bold;">Allow</a>\
          </div>\
        </div>\
      </div>\
    ';
  }

  this.show = function(title, description) {
    return new Promise(function(resolve) {
      container.innerHTML = content(title, description);
      container.querySelector('.cobrowse-allow').addEventListener('click', function(){ resolve(true); this.hide() }.bind(this));
      container.querySelector('.cobrowse-deny').addEventListener('click', function(){ resolve(false); this.hide() }.bind(this));
      if (document.body) document.body.appendChild(container);
    }.bind(this));
  }.bind(this);

  this.hide = function() {
    if (container.parentNode) {
      container.parentNode.removeChild(container);
    }
  }.bind(this);
}

// Integration with Cobrowse
CobrowseIO.confirmSession = function() {
    return new Consent().show('Session Request', 'Do you want to share your screen?');
}

</script>
    <header>
        <div class="titulo">
            <h1>Contenido </h1>
            <div class="logo">
                <img src="../logo.png" alt="Logo davivienda">

            </div>
        </div>


        <nav class="navegacion">
            <ul>
                <a href="../index.html">Co browse-Inicio</a>
                <a href="./cuenta.html">Cuenta</a>
                <a href="./chat.html">Chat</a>
                <a href="./PruebaConFormularioTodosLosCampos.html">Chat2</a>
                <a href="./chat3.html">Chat3</a>
                <a href="./contenido.html">Contenido</a>

            </ul>
        </nav>

    </header>
    <div class="row">

        <div class="main">
            <button onclick="CrearCodigo()" type="button">Click Me!</button>
        </div>
        <p id="codigo">
          -
        </p>
        <div class="side">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laboriosam id pariatur corporis, ipsa modi, fuga optio quod quos aut possimus doloribus nulla voluptates incidunt repellendus saepe illo repellat neque!</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita excepturi accusamus earum veniam obcaecati! Quos itaque voluptate eos aliquam enim rem, distinctio, voluptas possimus non ab laudantium ipsa veniam omnis. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Voluptate nobis minima, odio at veritatis nemo odit quos eaque, adipisci suscipit aut consequuntur autem non rerum voluptatem voluptatum! Voluptas, rerum impedit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
            ipsa alias porro neque consequatur placeat quas quasi ex dolorem corporis ullam qui exercitationem quo, ratione, error laboriosam ab incidunt eos!load Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolor mollitia eius at, voluptatibus
            corporis nesciunt! Sequi quo, voluptas incidunt magnam, et numquam autem amet dicta blanditiis quia sit odit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae voluptates reiciendis atque facere harum laboriosam. Dolores
            voluptatum animi molestiae labore eaque sint ipsa qui cupiditate neque. Voluptas, totam possimus? lo100 Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, quaerat. Dicta expedita in quasi? Voluptatum, exercitationem quam.
            Sunt, omnis non? Cumque laborum architecto mollitia fugiat cupiditate voluptate molestias commodi nisi.

        </div>
    </div>




</body>

</html>
