<!DOCTYPE html>
<html>
<head>
  <script src="../javascript/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/theme-template-blue5.css" />
  <script src="https://cobrowse.mypurecloud.com/cobrowse-jsapi-v1.js?deploymentKey=FHr7VCu9k6sTcRzjmFil64Gf6s816X1v" type="text/javascript"></script>
  <link href="./css/style.css" rel="stylesheet" type="text/css"/>
  <meta charset="utf-8">
  <title>PureCloud WebChat Demo</title>
</head>

<body>
  <header class="header">
        
    <div class="titulo">
        <h1>Chat </h1>
        <div class="logo">
            <img src="../logo.png" alt="Logo davivienda" >
            
        </div>
    </div>
      
    <nav class="navegacion">
        <ul>
            <a href="../index.html">Co browse-Inicio</a>
            <a href="./cuenta.html">Cuenta</a>
            <a href="./chat.html">Chat</a>
            <a href="./PruebaConFormularioTodosLosCampos.html">Chat2</a>
            <a href="./contenido.html">Contenido</a>
            
        </ul>
    </nav>      
<script src="../javascript/validaciones.js" ></script>

<script src="https://apps.mypurecloud.com/widgets/9.0/cxbus.min.js" onload="javascript:CXBus.configure({debug:false,pluginsPath:'https://apps.mypurecloud.com/widgets/9.0/plugins/'}); CXBus.loadPlugin('widgets-core');"></script>

<script type="text/javascript">
    window._genesys = {
      widgets: {
      	main:{
				themes: {

					dark: 'cx-theme-dark',
					light: 'cx-theme-light',
					blue: 'cx-theme-blue',
					red: 'cx-theme-red'
				},
      		theme: 'blue',
      		lang : 'es',
      		 i18n: 'widgets-es.i18n.json'
      		},
        webchat: {
          emojis: true,
          uploadsEnabled: true,
          transport: {
            type: 'purecloud-v2-sockets',
            dataURL: 'https://api.mypurecloud.com',
            deploymentKey : '',
            orgGuid : '',   
          }
        }
      }
    };

    var customPlugin = CXBus.registerPlugin('Custom');

    customPlugin.subscribe('WebChatService.started', function (e) {
      console.log('Chat started**', e);
       console.log(e);
    });

    customPlugin.subscribe('WebChatService.ended', function (e) {
      console.log('Chat ended', e);
    });

    customPlugin.subscribe("WebChat.opened", function(e){

    	// e = Event Object. Contains metadata and attached data
    	//
    	// Example Event Object data:
    	//
    	// e.time == 1532017560154
    	// e.event == "WebChat.opened"
    	// e.publisher == "WebChat"
        console.log('---------WebChat.opened----------', e);
    });

  </script>

<div></div>

<!--  <button type="button" id="chat-button-simple" onclick="window._genesys.widgets.bus.command('App.setTheme');	customPlugin.command('WebChat.open');">Start Chat (simple)</button> -->

  <script type="text/javascript">
		function getAdvancedConfig() {
			return {
				form: {
					autoSubmit: false,
					firstname: '',
					lastname: '',
          email: '',
          userData: {
            phoneNumber: ''
          }
				},
				formJSON: {
					wrapper: '<table></table>',
					inputs: [
						// Default fields
						{
							id: 'cx_webchat_form_firstname',
							name: 'firstname',
							maxlength: '100',
							placeholder: 'Coloque su nombre',
							label: 'Nombre',
              wrapper: '<tr><td class="required">{label}</td></tr><tr><td>{input}</td></tr><tr><td class="cx-error-message"></td></tr>',
              validate: function(event, form, input, label, $, CXBus, Common){
                  let validationResult = validateFormInput(form, input, '* No puede estar vacío');
                  if (input !== undefined && validationResult === true) {
                    if ( !isNaN(input.val()) ) {
                         showErrorMessage(form, '* No puede ser Numérico');
                         form.last().children().css({"color": "red"});
                         validationResult = false;
                    } else {
                    showErrorMessage(form, 'Correcto');
                    form.last().children().css({"color": "green"});
                    }
                  }
                  return validationResult;
              }
						},
						{
							id: 'cx_webchat_form_lastname',
							name: 'lastname',
							maxlength: '100',
							placeholder: 'Coloque su apellido',
              label: 'Apellido',
              wrapper: '<tr><td class="required">{label}</td></tr><tr><td>{input}</td></tr><tr><td class="cx-error-message"></td></tr>',
              validate: function(event, form, input, label, $, CXBus, Common){
                  let validationResult = validateFormInput(form, input, '* No puede estar vacío');
                  if (input !== undefined && validationResult === true) {
                    if ( !isNaN(input.val()) ) {
                         showErrorMessage(form, '* No puede ser Numérico');
                         form.last().children().css({"color": "red"});
                         validationResult = false;
                    } else {
                    showErrorMessage(form, 'Correcto');
                    form.last().children().css({"color": "green"});
                    }
                  }
                  return validationResult;
              }
						},
            {
              id: 'cx_webchat_form_email',
              name: 'email',
              maxlength: '100',
              placeholder: 'Coloque su email',
              label: 'Correo electrónico',
              wrapper: '<tr><td class="required">{label}</td></tr><tr><td>{input}</td></tr><tr><td class="cx-error-message"></td></tr>',
              validate: function(event, form, input, label, $, CXBus, Common){
                  let validationResult = validateFormInput(form, input, '* No puede estar vacío');
                  let reg = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                  var espacioEnBlanco = /\s/;
                  if (input !== undefined && validationResult === true) {
                   if ( !reg.test(input.val()) ) {
                         showErrorMessage(form, '* Error en el formato de correo');
                         form.last().children().css({"color": "red"});
                         validationResultEmail = false;
                         //} else if ( input.val().trim().length > 0 ) {
                       } else if (espacioEnBlanco.test(input.val())) {
                       showErrorMessage(form, '* No puede terer espacios');
                       form.last().children().css({"color": "red"});
                       validationResult = false;
                       } else {
                         showErrorMessage(form, 'Correcto');
                         form.last().children().css({"color": "green"});
                       }
                  }
                  return validationResult;
              }            },
            {
              id: 'phonenumber',
              name: 'phonenumber',
              maxlength: '15',
              placeholder: 'Coloque su telefono',
              label: 'Telefono',
              value: '',
              wrapper: '<tr><td class="required">{label}</td></tr><tr><td>{input}</td></tr><tr><td class="cx-error-message"></td></tr>',
              validate: function(event, form, input, label, $, CXBus, Common){
                  let validationResult = validateFormInput(form, input, '* No puede estar vacío');
                  var espacioEnBlanco = /\s/;
                  if (input !== undefined && validationResult === true) {
                       if ( isNaN(input.val()) ) {
                         showErrorMessage(form, '* Debe ser Numérico');
                         form.last().children().css({"color": "red"});
                         validationResult = false;
                         //} else if ( input.val().trim().length > 0 ) {
                       } else if (espacioEnBlanco.test(input.val())) {
                       showErrorMessage(form, '* No puede terer espacios');
                       form.last().children().css({"color": "red"});
                       validationResult = false;
                       } else if (input.val().length != 10) {
                         showErrorMessage(form, '* Debe tener minino 10 digitos');
                         form.last().children().css({"color": "red"});
                         validationResult = false;
                       }else{
                         showErrorMessage(form, 'Correcto');
                         form.last().children().css({"color": "green"});
                       }
                  }
                  return validationResult;
              }
            },
            {
              id: 'custom_field_1',
              name: 'customField1',
              maxlength: '10',
              placeholder: 'Coloque su CURP',
              label: 'CURP',
              value: '',
              wrapper: '<tr><td class="required">{label}</td></tr><tr><td>{input}</td></tr><tr><td class="cx-error-message"></td></tr>',
              validate: function(event, form, input, label, $, CXBus, Common){
                  let validationResult = validateFormInput(form, input, '* No puede estar vacío');
                  var espacioEnBlanco = /\s/;
                  if (input !== undefined && validationResult === true) {
                       if ( isNaN(input.val()) ) {
                         showErrorMessage(form, '* Debe ser Numérico');
                         form.last().children().css({"color": "red"});
                         validationResult = false;
                         //} else if ( input.val().trim().length > 0 ) {
                       } else if (espacioEnBlanco.test(input.val())) {
                       showErrorMessage(form, '* No puede terer espacios');
                       form.last().children().css({"color": "red"});
                       validationResult = false;
                       } else if (input.val().length < 6) {
                         showErrorMessage(form, '* Debe tener minimo 6 digitos');
                         form.last().children().css({"color": "red"});
                         validationResult = false;
                       }else{
                         showErrorMessage(form, 'Correcto');
                         form.last().children().css({"color": "green"});
                       }
                  }
                  return validationResult;
              }
             }
					]
				}
			};
		}
	</script>

<style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid rgb(153, 59, 16);
}
</style>

<div class="center">
  <button type="button" id="chat-button" onclick="customPlugin.command('WebChat.open', getAdvancedConfig());">Inciar Chat</button>
</div>

</body>



</html>
