<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    <title>davivienda</title>
    <script
      type="module"
      src="https://auvious.video/widget/dist/auvious/auvious.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://auvious.video/widget/dist/auvious/auvious.js"
    ></script>
    <link rel="shortcut icon" href="../índice.ico">
  </head>
  <body>
    <script src="../javascript/prueba1.js"></script>
    <script src="prueba1.js"></script>
    <header>

        <div class="titulo">
            <h1>Video </h1>
            <div class="logo">
                <img src="../logo.png" alt="Logo davivienda">

            </div>
        </div>

        <nav class="navegacion">
            <ul>
                <a href="../index.html">Co browse-Inicio</a>
                <a href="./cuenta.html">Cuenta</a>
                <a href="./chat.html">Chat Z Publica</a>
                <a href="./chat3.html">Chat Z Privada</a>
                <a href="./contenido.html">Contenido</a>
                <a href="./video.html">Video</a>
            </ul>
        </nav>

    </header>
    <h1>auvious</h1>
  </body>
</html>
