<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    <title>davivienda</title>
    
    <link rel="shortcut icon" href="../índice.ico">
  </head>
  <body>
   
   
    <header>

        <div class="titulo">
            <h1>Video </h1>
            <div class="logo">
                <img src="../logo.png" alt="Logo davivienda">

            </div>
        </div>

        <nav class="navegacion">
            <ul>
                <a href="../index.html">Co browse-Inicio</a>
                <a href="./cuenta.html">Cuenta</a>
                <a href="./chat.html">Chat Z Publica</a>
                <a href="./chat3.html">Chat Z Privada</a>
                <a href="./contenido.html">Contenido</a>
                <a href="./video.html">Video</a>
            </ul>
        </nav>

    </header>
    <h1>auvious</h1>
    <br>
    <iframe src="https://ludysmoreno17.github.io/HIC_Genesys/template/videosolo.html" id="miframe" height="400" width="500" name="demo">
      <p>Su navegador no es compatible con iframes</p>
      </iframe>
    

            <p class="cobrowse-masked" >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum, tortor ut commodo elementum, felis dui pharetra arcu, id vulputate neque orci ut velit. Vestibulum facilisis mauris sapien, ut rutrum lacus sollicitudin eu. Curabitur odio ligula,
                eleifend sodales nisl et, feugiat mattis sapien. Nulla commodo gravida est a lacinia. Fusce cursus eleifend dui at tincidunt. Aliquam eu metus odio. Morbi metus erat, mattis sit amet ultricies ullamcorper, dignissim nec ante. Nulla congue
                purus quis interdum tincidunt. Nam at libero leo. Nunc dignissim auctor turpis sit amet ornare. Duis vulputate faucibus sem id dignissim. Vivamus sed orci odio. Maecenas nec dapibus mauris. Pellentesque a massa et lectus volutpat gravida
                eget id neque.
            </p>
            <p class="mascara">
                Nunc eleifend venenatis est vel finibus. Mauris vel arcu sit amet risus vulputate gravida a pulvinar felis. In nulla turpis, dignissim ac orci sit amet, suscipit luctus eros. Ut luctus blandit mi. Donec lacinia vehicula fringilla. Vivamus nec ligula ut
                dui vestibulum iaculis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac sem in mi pulvinar eleifend vitae in sapien. Mauris vel dui nibh. Maecenas fermentum ante cursus nisi tincidunt
                mattis. Phasellus quis sapien sollicitudin, tempor diam nec, ullamcorper sapien.
            </p>
            <p>
                Fusce tempor arcu nec ante congue, nec tempor ipsum eleifend. Pellentesque consequat ac ipsum et euismod. Donec posuere massa in felis scelerisque feugiat. Mauris id arcu enim. Curabitur pulvinar elit nec turpis mollis tincidunt. Curabitur lectus elit,
                scelerisque nec facilisis ac, semper vel libero. Pellentesque efficitur velit nunc, eu vehicula est pretium quis. Nunc urna tellus, tempus vitae eros eget, efficitur molestie lorem. Phasellus ut facilisis libero. Mauris laoreet libero
                diam, a tempor risus pharetra eget. Mauris nibh urna, accumsan vel accumsan euismod, lobortis nec lectus. Mauris elementum urna vel feugiat ultrices. Nulla sodales nisl sit amet ante fermentum, sit amet porttitor diam sollicitudin. Pellentesque
                ut pellentesque turpis. In rutrum augue dui, vel molestie ipsum pulvinar facilisis.
            </p>
  </body>
</html>
