* {
  margin:0; 
  padding: 0;
  box-sizing: border-box;
 
}
body
{
  margin:0; 
  padding: 0;

  max-width: 1600px;
  background-color: #FBFCFC;
}


.webchat-security-key-form {
  /*caja que acoje al boton y input box */
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}


.webchat-security-key-form * {
    font-family: cursive,Arial,"Helvetica Neue",Helvetica,sans-serif;
   
}

.input-group.input-group-lg {
  display: block;
}

.btn-primary {
    /**/  
    
    width: 300px;
    background: linear-gradient(180deg, #ed1c27 0%, #a53131 100%);
    outline: none;
}

.btn-primary:hover {
  background: linear-gradient(180deg, #ed1c27 0%, #ffffff 100%);
  
}

.btn-primary:focus {
  background: linear-gradient(180deg, #ff000d 0%, #ff000d 100%);
}

.input-group {
    width: 300px;
    position: relative;
    display: table;
    border-collapse: separate;
}