* {
  margin:0; 
  padding: 0;
  box-sizing: border-box;
 
}
body
{
  margin:0; 
  padding: 0;
  display: block;
  max-width: 1600px;
  background-color: #FBFCFC;
}


.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.webchat-security-key-form {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  width: 100%;
  height: 100%;
}


.webchat-security-key-form * {
    font-family: cursive,Arial,"Helvetica Neue",Helvetica,sans-serif;
    box-sizing: border-box;

}



.btn-primary {
    
    background: linear-gradient(180deg, #ed1c27 0%, #a53131 100%);
    outline: none;
}

.btn-primary:hover {
  background-color: rgb(255, 255, 255); 
  color: white;
}

.btn-primary:focus {
  background-color: red; 
  color: white;
}

.input-group {
    
    position: relative;
    display: table;
    border-collapse: separate;
}