/*estilos del cobrowse*/
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
body
{
  margin:0;
  padding: 0;

  max-width: 1600px;
  background-color: #FBFCFC;
}
.error-section.animated.bounceIn {
  padding-top: 90px;
}

.webchat-security-key-form {
  /*caja que acoje al boton y input box */
  border: 0px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
}


.webchat-security-key-form * {
    font-family: cursive,Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.input-group.input-group-lg {
  display: block;
}
span.input-group-btn {
  padding-top: 10px;
}

/*========================== Nuevo CSS ===============================*/
.input--security-key{
  border-radius: 20px !important;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  color: #404040;
  transition-duration: .2s;
  margin-top: 43px;
}


.input-group{

}
.input-group::before{
  content: "¿Desea iniciar la asistencia remota?";
  border-width: 1px 1px 0 0;
  top: -74px;
  position: absolute;
  margin: 0px auto;
  z-index: 99;
  display: inline-block;

  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  font-style: normal;
  color: #000000;
}

.input-group::after{
  content: "Comparta su pantalla con un asesor de call center \A cuando presente algún inconveniente en nuestro \A portal o desee profundizar en alguna funcionalidad. \A \A Comuníquese previamente con nuestras líneas de \A atención e ingrese el código indicado por el asesor.";
  border-width: 1px 1px 0 0;
  white-space: pre;
  top: -50px;
  position: absolute;
  margin: 0px auto;
  z-index: 99;
  display: inline-block;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  color: #404040;
}
span.input-group-btn::before {
    background-image: url(../../signo-de-exclamacion.svg);
    background-position:-140px 0px;
    content: "";
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    pointer-events: none;
    transition: all 0.2s ease-out;
    opacity: 1;
    pointer-events: none;
}

span.input-group-btn::before {
    content: "Tenga en cuenta que el asesor no podrá \A ver los saldos de sus productos.";
    border-width: 1px 1px 0 0;
    top: auto;
    white-space: pre;
    position: absolute;
    margin: 0px auto;
    z-index: 99;
    display: inline-block;
    width: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    color: #404040;
}
.start-section{
  margin-top: 170px;
  position: relative;
}

.start-section::before{
  background-image: url('../../Icon-popUp-info.svg');
  content: "";
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -143px;
  pointer-events: none;
  transition: all 0.2s ease-out;
  opacity: 1;
  pointer-events: none;
}


.webchat-security-key-form .start-section .error-section{
  top: 120px;
  font-family: "Roboto", sans-serif;
}

/*=====================================================================*/
span.input-group-btn {
    text-align: center;
}
.btn-primary {
    /**/
    text-align: left;
    width: 250px;
    top: 50px;
    /*background: linear-gradient(180deg, #ed1c27 0%, #a53131 100%);*/
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    font-style: normal;
    border-radius: 40px !important;
    background-color: #e1111c !important;
    border: 0px;
}

.btn-primary:hover {
  /*background: linear-gradient(180deg, #ed1c27 0%, #ffffff 100%);*/
}

.btn-primary:focus {
  background: linear-gradient(180deg, #ff000d 0%, #ff000d 100%);
}

.input-group {
    width: 300px;
    position: relative;
    display: table;
    border-collapse: separate;
}
